@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1720; /* dark green-ish background */
  --foreground: #e6f4ea; /* light green/cream text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
